spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: postgres
    password: postgres
  
  jpa:
    show-sql: true

logging:
  level:
    com.mobilebanking.user: DEBUG
