replicaCount: 2

image:
  tag: "staging"

resources:
  limits:
    cpu: 750m
    memory: 768Mi
  requests:
    cpu: 200m
    memory: 384Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 75

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "staging"
  - name: SERVER_PORT
    value: "8082"

configMap:
  data:
    DB_HOST: "postgres-user-staging"
    DB_PORT: "5432"
    DB_NAME: "user_db_staging"

networkPolicy:
  enabled: true

podDisruptionBudget:
  enabled: true
  minAvailable: 1
